.roboto-regular {
  font-family: "Roboto, sans-serif";
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #292C3E;
}

header {
  width: 100%;
  height: 120px;
  display: flex;
  background-color: #1C1F30;
  border-bottom: 1px solid #F4FF80;
  padding: 15px;
  justify-content: space-between;
}
header nav {
  align-items: center;
  width: 100%;
}
header nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  text-decoration: none;
}
header a {
  color: #fff;
  text-decoration: none;
  align-items: center;
}
header a:hover {
  text-decoration: underline;
  font-weight: bold;
}
header a h1 {
  color: #E093FE;
  text-decoration: none;
}

.anuncio {
  background-color: #F4FF80;
  display: flex;
  color: black;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
}
.anuncio p {
  text-align: center;
  font-weight: bold;
}

main {
  background-color: #292C3E;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 15px;
}
main .titulo-pagina {
  padding: 20px;
}
main .container-servicios {
  padding: 20px 20px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  gap: 25px;
}
main .descripcion-prod-h3 {
  text-align: center;
  padding: 10px;
}
main p {
  margin-top: 10px;
  margin-bottom: 10px;
}
main img {
  max-width: 100%;
  height: auto;
}
main .contenedor-nosotros {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 15px;
}
main .contenedor-nosotros .mapa {
  width: auto;
  align-items: center;
  justify-content: space-around;
}
main .contenedor-nosotros .mapa iframe {
  margin-left: 20px;
  margin-right: 20px;
  height: 50%;
  width: 50%;
}

footer {
  margin-top: 80px;
  margin-bottom: 20px;
  width: 100%;
  color: #fff;
}
footer p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .anuncio {
    height: 35px;
  }
  main .container-servicios {
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 25px;
  }
  main .contenedor-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
  }
  main .contenedor-nosotros .mapa {
    width: auto;
    align-items: center;
    justify-content: space-around;
  }
  main .contenedor-nosotros .mapa iframe {
    height: 100%;
    width: auto;
  }
}
/* Estilos de los inputs y de los botones de acceso por redes sociales */
.formulario-contacto input {
  border-radius: 5px;
  height: 25px;
  background-color: #F4ECEB;
}

.div-formulario-registro input {
  border-radius: 5px;
  height: 25px;
  background-color: #F4ECEB;
}

.redes-sociales .iconos {
  margin: 20px;
  border-radius: 10px;
  border-style: none;
}
.redes-sociales .iconos .facebook {
  background-color: #3b5999;
  color: white;
  font-size: 18px;
}
.redes-sociales .iconos .instagram {
  background-image: linear-gradient(to bottom right, #515BD4, #DD2A7B, #FEDA77, #F58529);
  color: white;
  font-size: 18px;
}
.redes-sociales .iconos .google {
  background-color: #db4a39;
  color: white;
  font-size: 18px;
}

input[type=submit] {
  text-decoration: none;
}

.boton-acceso {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
