$color_letras: black;
$color_fondo: #F4FF80;

.anuncio {

    background-color: $color_fondo;
    display: flex;
    color: $color_letras;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    
    p {
        text-align: center;
        font-weight: bold;
    }
}