$color_fondo: #292C3E;
$color_letras: #fff;

main {
    background-color: $color_fondo;
    width: 100%;
    height: 100%;
    color: $color_letras;
    padding: 15px;

    .titulo-pagina {
        padding: 20px;
    }

    .container-servicios {
        padding: 20px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 25px;
    }

    .descripcion-prod-h3 {
        text-align: center;
        padding: 10px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    // estilos de"Nosotros"

    .contenedor-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
        gap: 30px;
    }
}