// cambios de estilo para ver en smart phone
// estoy cambiando solamente los del index y nosotros


@media screen and (min-width:768px) {

    .anuncio {
        height: 35px;
    }

    main {
        .container-servicios {
            padding: 20px 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            gap: 25px;
        }

        .contenedor-nosotros {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 15px;
            
        .mapa {
            width: auto;
            align-items: center;
            justify-content: space-around;

            iframe{
                height: 100%;
                width: auto;
            }
        }
    }
}

}
