.roboto-regular {
    font-family: "Roboto, sans-serif";
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #292C3E; // podría definirse como variable, pero como no defino nada más
                                 // del body, es fácil de identificar
}
